/* This is for the styling for outline of this website */
:root {
    --primary-color: #374794;
    --secondary-color: #F66247;
    --dark-color: #FFCE3B;
    --attention-color: #FF3131;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 20px;
}

/* hero container */
#hero-container {
    text-align: center;
    /* border-bottom: 1px solid var(--secondary-color); */
}
#hero-container h1 {
    font-size: 48px;
    font-weight: 600;
}

/* Navigation */
#nav-bar {
    text-align: center;
    padding: 15px;
    /* border-bottom: 1px solid var(--secondary-color); */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 8px;
    border: 0.5px solid var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
    border-radius: 10px;
}
nav a {
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--primary-color);
}