/* This is for the styling for outline of this website */
:root {
    --primary-color: #374794;
    --secondary-color: #F66247;
    --sub-color: #6C757D;
    --attention-color: #FFC107;
    --danger-color: #DC3545;
    --success-color: #28A745;
}

body {
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 42px;
    font-weight: 400;
}
h2 {
    font-size: 32px;
    font-weight: 400;
}
h3 {
    font-size: 24px;
    font-weight: 400;
}
p {
    font-size: 16px;
    font-weight: 400;
}
.anchor-tag {
    text-decoration: none;
}

.body-title {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
/* hero container */
#hero-container {
    text-align: center;
}

/* Navigation */
#nav-bar {
    text-align: center;
    padding: 15px;
    background-color: var(--sub-color);
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 8px;
}
nav a {
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

section .section-header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary-color);
}
section .section-header a{
    font-size: medium;
    text-decoration: none;
}