.pattern-logo {
    border: 1px dashed var(--attention-color);
}
figure {
    display: inline-block;
}
.pattern-picture {
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
}
figcaption {
    width: 200px;
    text-align: left;
}
